h1 {
   text-align: center;
}

p {
   text-align: center;
}

h2 {
   text-align: center;
}

div table {
   text-align: center;
   width: 50%; 
   margin: 0 auto; 
   border-collapse: collapse; 
}

table, th, td {
   border: 1px solid black;
}

th, td {
   padding: 3px; 
}
